
@import url('http://fonts.cdnfonts.com/css/pusab');
      
.nav-text{
    font-weight:800;
    letter-spacing:0.2px;
    font-size: x-large;
}

.label-text{
    font-family: 'Pusab',sans-serif;
    color: #e16162;
    font-size: 25px;
    
}

input{
    border-top:none ;
    border-left: none;
    border-right: none;
    border-bottom-color: #e16162;
    background: none;
    
    
}
input::placeholder{
    color: white;
    font-size: 25px;
}

#btn1-style{
    background-color: #f9bc61;
    border: 2px solid #000080;
    color: #000080;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
}
#btn2-style{
    background-color:#e16162;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:8px ;
    padding-bottom:8px ;
    border: none;
    border-radius: 5px;
}

.footer-text{
    font-weight:800;
    letter-spacing:0.2px;
    font-size: 20px;
    
}
.mySlides {display:none}

.slide-btn{
    color: #000080;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #000080;
    padding: 20px;
    
}


svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}